@model MROCoatching.DataObjects.Models.General.TeamLeader
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using MROCoatching.DataObjects.DropDown;
@{
    ViewData["Title"] = "Details";
    Layout = null;
}
<style>
    .select2-container {
        width: 100% !important;
    }

    .select2-search--dropdown .select2-search__field {
        width: 98%;
    }

    .select2-container--default .select2-selection--single {
        height: inherit;
    }

    fieldset {
        border: 1px solid #005580;
        padding: 3px;
    }

    legend {
        font-family: 'Wide Latin';
        font-size: small;
    }
</style>
<link rel="stylesheet" href="~/AdminLTE/plugins/timepicker/bootstrap-timepicker.css">
<link rel="stylesheet" href="~/AdminLTE/plugins/iCheck/square/blue.css">
<link href="~/AdminLTE/plugins/datepicker/datepicker3.css" rel="stylesheet" />

<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-body">

            <form id="teams" class="form-horizontal">

                @Html.AntiForgeryToken()
                <div class="callout callout-danger error-box-holder" id="general-error" style="display:none">
                    <h4> Please correct the following errors and sumbit again </h4>
                    <ul id="errors" class="error-box"></ul>
                </div>
                @Html.ValidationSummary(true)
                @if (ViewBag.Message != null)
                {
                    <p style="color: red">@ViewBag.Message</p>
                }
                <fieldset class="col-sm-12">
                    <div class="row col-sm-12">
                        <div class="col-sm-12">
                            <input asp-for="Id" hidden/>
                            <div class="form-group col-sm-12 row">
                                <div class="form-group col-sm-6">
                                    <div class="form-group col-sm-12 row ">
                                        <label asp-for="Costcentercode" class="form-group col-sm-4"></label>
                                        <input asp-for="Costcentercode" class="form-control col-sm-6" readonly style="pointer-events:none;" />
                                        <span asp-validation-for="Costcentercode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="form-group col-sm-12 row">
                                        <label asp-for="Costcentername" class="form-control-label col-sm-4"></label>
                                        <input asp-for="Costcentername" class="form-control col-sm-8" readonly style="pointer-events:none;" />
                                        <span asp-validation-for="Costcentername" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="form-group col-sm-12 row">
                                        <label asp-for="Sectcode" class="form-control-label col-sm-4"></label>
                                        <input asp-for="Sectcode" class="form-control col-sm-6" readonly style="pointer-events:none;" />
                                        @*<div class="col-sm-6">
                    <select asp-for="Sectcode" class="form-control col-sm-10 select2" asp-items="@ViewBag.Sectcode">
                        <option value="">---------</option>
                    </select>
                </div>*@
                                        <span asp-validation-for="Sectcode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="form-group col-sm-12 row ">
                                        <label asp-for="Sectname" class="form-group col-sm-4"></label>
                                        <input asp-for="Sectname" class="form-control col-sm-8" readonly style="pointer-events:none;" />
                                        <span asp-validation-for="Sectname" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="form-group col-sm-12 row ">
                                        <label asp-for="Deptcode" class="form-group col-sm-4"></label>
                                        <input asp-for="Deptcode" class="form-control col-sm-6" readonly style="pointer-events:none;" />
                                        <span asp-validation-for="Deptcode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="form-group col-sm-12 row ">
                                        <label asp-for="Deptname" class="form-group col-sm-4"></label>
                                        <input asp-for="Deptname" class="form-control col-sm-8" readonly style="pointer-events:none;" />
                                        <span asp-validation-for="Deptname" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group col-sm-6">
                                    <div class="form-group col-sm-12 row">
                                        <label asp-for="Fromdate" class="form-control-label col-sm-4"></label>
                                        <input asp-for="Fromdate" class="form-control col-sm-3" type="date" readonly style="pointer-events:none;" />
                                        <input asp-for="Toodate" class="form-control col-sm-3" type="date" readonly style="pointer-events:none;" />
                                        <span asp-validation-for="Fromdate" class="text-danger"></span>
                                        <span asp-validation-for="Toodate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="form-group col-sm-12 row ">
                                        <label asp-for="Reportsto" class="form-group col-sm-4"></label>
                                        <input asp-for="Reportsto" class="form-control col-sm-6" readonly style="pointer-events:none;" />
                                        <span asp-validation-for="Reportsto" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br />
                <div class="row cols-m-12">
                    <div class="col-sm-6">
                        <div class="form-group col-sm-12">
                            <div class="form-group col-sm-12 row">
                                <label asp-for="ERNAM" class="form-control-label col-sm-4"></label>
                                <input asp-for="ERNAM" class="form-control col-sm-8" type="text" readonly style="pointer-events:none;" />
                                <span asp-validation-for="ERNAM" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group col-sm-12">
                            <div class="form-group col-sm-12 row">
                                <label asp-for="ERDAT" class="form-control-label col-sm-4"></label>
                                <input asp-for="ERDAT" class="form-control col-sm-8" type="text" readonly style="pointer-events:none;" />
                                <span asp-validation-for="ERNAM" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </form>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
<script src="~/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<script src="~/AdminLTE/plugins/iCheck/icheck.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/AdminLTE/plugins/datepicker/bootstrap-datepicker.js"></script>
<script>

    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        })
    });
    //Cost Centers when changed
    $("#Costcentername").val(($("#Costcentercode").val() != "") ? $("#Costcentercode option:selected").text() : "");
    $("#Costcentercode").change(function () {
        debugger;
        if ($("#Costcentercode").val() != null) {
            var url = "/General/Costcenters/Getcostcenter?Costcentercode=" + $("#Costcentercode").val();
            $.get(url, function (data) {
                $("#Costcentername").val(data.costcentername);
            });
        }
        else if ($("#Costcentercode").val() == null) {
            $("#Costcentername").val("");
        }
    });
    //cost center when display
    if ($("#Costcentercode").val != null) {
        debugger;
        if ($("#Costcentercode").val() != null) {
            var url = "/General/Costcenters/Getcostcenter?Costcentercode=" + $("#Costcentercode").val();
            $.get(url, function (data) {
                $("#Costcentername").val(data.costcentername);
            });
        }
        else if ($("#Costcentercode").val() == null) {
            $("#Costcentername").val("");
        }
    }
    //Sections when changed
    $("#Sectname").val(($("#Sectcode").val() != "") ? $("#Sectcode option:selected").text() : "");
    $("#Sectcode").change(function () {
        debugger;
        if ($("#Sectcode").val() != null) {
            var url = "/General/Sections/Getsections?Sectcode=" + $("#Sectcode").val();
            $.get(url, function (data) {
                $("#Sectname").val(data.sectname);
                $("#Deptcode").val(data.deptcode);
                $("#Deptname").val(data.deptname);
            });
        }
        else if ($("#Sectcode").val() == null) {
            $("#Sectname").val("");
        }
    });
    // section code when display
    if ($("#Sectcode").val() != null) {
        debugger;
        if ($("#Sectcode").val() != null) {
            var url = "/General/Sections/Getsections?Sectcode=" + $("#Sectcode").val();
            $.get(url, function (data) {
                $("#Sectname").val(data.sectname);
                $("#Deptcode").val(data.deptcode);
                $("#Deptname").val(data.deptname);
            });
        }
        else if ($("#Sectcode").val() == null) {
            $("#Sectname").val("");
        }
    }
    $(document).ready(function () {
        let dateObj = new Date();
        let dateObj1 = new Date();
        dateObj1 = '12/31/9999';
        $('.date-field').datepicker(
            {
                format: 'mm/dd/yyyy',
                autoclose: true
            }).datepicker("setDate", dateObj);
        $('.date-field1').datepicker(
            {
                format: 'mm/dd/yyyy',
                autoclose: true
            }).datepicker("setDate", dateObj1);
        $('.select2').select2();
        $(document).keypress(function (e) {
            if (e.which == 13) {
                $('#submit').click();//Trigger search button click event
            }
        });

        $('#submit').click(function () {
            debugger;
            var form = $('#teams')
                .removeData("validator") /* added by the raw jquery.validate plugin */
                .removeData("unobtrusiveValidation");  /* added by the jquery unobtrusive plugin*/
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                debugger;
                var url = "/General/TeamLeaders/Edit";
                $('#general-error').hide();
                $('#errors').empty();
                $.post(url, $('#teams').serialize(), function (data) {
                    if (data.status == "3" || data.status == "4" || data.status == "5") {
                        if (data.status == "3") {
                            swal({
                                type: 'success',
                                title: data.message,
                                showConfirmButton: false,
                                timer: 3000
                            }).then(() => { window.location = "/General/TeamLeaders/Index"; });;
                            $('#modal').modal('hide');
                        }
                        else {
                            swal({
                                type: 'error',
                                title: data.message,
                                showConfirmButton: false,
                                timer: 3000
                            });
                        }
                    }
                    else {
                        $.each(data.errorList, function (index, value) {
                            $('#errors').append('<li> ' + value + ' </li>');
                        });
                        $('#general-error').show();
                    }
                });

            }
        });
    });

</script>