@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model MROCoatching.DataObjects.ViewModel.Identity.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
    ViewBag.Name = "Password Change";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ET | Password Change</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @*<environment include="Production">*@
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css" />
        <!-- iCheck -->
        <link rel="stylesheet" href="~/AdminLTE/plugins/iCheck/square/blue.css">
        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    @*</environment>*@

</head>
<body class="hold-transition login-page">
    <div class="login-box">

        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Change your Password</p>

                <form asp-controller="Account" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group-sm">
                        <label asp-for="OldPassword" class="control-label"></label>
                        <div class="col-sm-12">
                            <input type="password" asp-for="OldPassword" class="form-control" />
                        </div>
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group-sm">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <div class="col-sm-12">
                            <input type="password" asp-for="NewPassword" class="form-control" />
                        </div>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group-sm">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <div class="col-sm-12">
                            <input type="password" asp-for="ConfirmPassword" class="form-control" />
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <br />
                    <div class="form-group-sm">

                        <button type="submit" class="btn btn-primary btn-block btn-flat">Change Password</button>

                    </div>

                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->

    @*<environment include="Production">*@
        <!-- jQuery -->
        <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- SlimScroll -->
        <script src="~/AdminLTE/plugins/iCheck/icheck.min.js"></script>
    @*</environment>*@
</body>
</html>
